[submodule "src/main/java/frc/lib/NinjasLib"]
	path = src/main/java/frc/lib/NinjasLib
	url = https://github.com/Ninjas4744-Organization/NinjasLib.git
[submodule "NinjasLib"]
	path = NinjasLib
	url = https://github.com/Ninjas4744-Organization/NinjasLib.git
